<div class="page-header">
	<h1>{{page.title}} <small>{{page.description}}</small></h1>
</div>

<div class="col-md-12">
    <div class="col-md-9">
        {{content}}
    </div>
</div>

	{% if page.previous %}
	<div class="col-md-2 col-s-2 col-xs-6">
		<span>Prev:</span>
		<a href="{{BASE_PATH}}{{page.previous.url}}" title="{{page.previous.title}}">
			{{page.previous.title}}</a>
	</div>
	{% endif %}
	{% if page.next %}
	<div class="col-md-2 col-s-2 col-xs-6">
		<span>Next:</span>
		<a href="{{BASE_PATH}}{{page.next.url}}" title="{{page.next.title}}">
			{{page.next.title}}</a>
	</div>
	{% endif %}

{% include disqus.html %}
</div>

